@model UC3.Models.User

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" id="txtPass" class="form-control" />
                show <input type="checkbox" name="mycheckbox" id="ckShowPass" onclick="myshowp(this)" />
                <script>
                    function myshowp(e) {
                        txtBox = $('#txtPass')
                        if (e.checked) {
                           txtBox.attr("Type", "Text");
                        }
                        else {
                           txtBox.attr("Type", "Password");
                        }
                    }
                </script>
                <span asp-validation-for="password" class="text-danger"></span>
                
            </div>

            

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Terug naar inloggen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
