
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
}

.div1 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: lightpink;
    height: 150px;
    padding: 0 20px;
}

.profile-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px; 
}

.name-label {
    font-size: 48px; 
    font-weight: bold; 
    color: #333; 
}
.profilepic {
    width: 50px; 
    height: 50px;
    background-color: grey; 
    border-radius: 50%;
}

.div2 {
    grid-row: span 5 / span 5;
    outline: 1px dashed magenta;
    background-color: lightgrey
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    outline: 1px dashed magenta;
    background-color: beige;
}


.bio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}

.bio-header {
    display: flex;
    justify-content: space-between; /* Zorgt ervoor dat "Bio" links staat en de knop rechts */
    align-items: center;
}

.bio-btn {
    font-size: 14px;
    padding: 5px 10px;
    height: auto;
}

.bio-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    min-height: 200px; /* Zorg dat er ruimte is om de bio weer te geven */
    display: flex;
    align-items: center;
}




.searchbar[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.small-btn {
    padding: 2px 8px; /* Minder ruimte binnen de knop */
    font-size: 12px; /* Kleinere tekst */
    height: 24px; /* Kleinere hoogte */
    line-height: 1;
}
