@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model UC3.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <div class="parent">
        
        <div class="div2">
            <br />
            <input type="text" placeholder="Search Friends.." />

        </div>
        <div class="div3">
            <br /> 
            <div class="bio">
                <div class="bio-header">
                    <p>Bio</p>
                    <input type="submit" name="setBio" value="Change Bio" class="btn btn-primary bio-btn" />
                </div>
                <div class="bio-content">
                    <label id="bio-text"></label>
                </div>
            </div>

            <div id="calendar">
            </div>
            <script>
                $(document).ready(function() {
                    $("#calendar").calendarWidget({
                        month: 3,
                        year: 2025
                    });
                });
            </script>
            <br />  <br /> 
            <br />  <br /> 
            <br />  <br /> 
            <br />  <br />
            <br />  <br />
            <br />  <br /> 
            <br />  <br />
            <br />  <br />
            <br />  <br />
        </div>
    </div>
</div>
