@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <div class="parent">
        <div class="div1">1</div>
        <div class="div2">2</div>
        <div class="div5">5</div>
    </div>

</div>
