@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <div class="parent">
        <div class="div1">
            <label type="text" value="Name">Firstname Lastname </label>
            <label type="text" value="Picture">Profile Picture </label>
        </div>
        <div class="div2">
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
        </div>
        <div class="div5">
            <br />  <br />
            <br />  <br />
            <br />  <br /> 
            <br />  <br /> 
            <br />  <br /> 
            <br />  <br />
            <br />  <br />
            <br />  <br /> 
            <br />  <br /> 
            <br />  <br /> 
            <br />  <br />
            <br />  <br />
            <br />  <br /> 
            <br />  <br />
        </div>
    </div>

</div>
