@{
    ViewData["Title"] = "Home Page";
}
<h2>@Model.name's Profile</h2>
<img src="@Url.Content(Model.profilepicture)" alt="Profile Picture" />
<p>Bio: @Model.bio</p>
<!-- Voeg hier meer profielinformatie toe -->