@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="parent">

        <div class="div2">
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
        </div>
        <div class="div3">
            <br />
            <div class="bio">
                <div class="bio-header">
                    <p>Bio</p>
                </div>
                <div class="bio-content">
                    <p>Bio: @Model.bio</p>

                </div>
            </div>

            <div id="calendar">
            </div>
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
        </div>
    </div>
</div>
