@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <div class="parent">
        <div class="div1">
            <label type="text" value="Name">Firstname Lastname </label>
            <label type="text" value="Picture">Profile Picture </label>
        </div>
        <div class="div2">
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
        </div>
        <div class="div5">
            <style>
                p {
                    font-weight: bold;
                    color: blue;
                }
            </style>
            <p> Dit is de normale tekst</p>
            <template id="my_component_tpl">
                <p>Dit is de tekst uit het template</p>
                <style>
                    p {
                        font-weight: bold;
                        color: red;
                        align-items: end
                    }
                </style>
            </template>
            <my-component>
                <!--<div slot="tekst">De nieuwe tekst</div> -->
            </my-component>
            <my-component>
                <!--<div slot="tekst">De nieuwe tekst</div> -->
            </my-component>
            <my-component>
                <!--<div slot="tekst">De nieuwe tekst</div> -->
            </my-component>
            <my-component>
                <!--<div slot="tekst">De nieuwe tekst</div> -->
            </my-component>

            <script>
                class my_component extends HTMLElement {
                    constructor() {
                        super();
                        let template = document.getElementById("my_component_tpl");
                        let templateContent = template.content;
                        const shadowRoot = this.attachShadow({ mode:"closed"});
                        shadowRoot.appendChild(templateContent.cloneNode(true));
                    }
                }
                customElements.define(
                    "my-component", my_component
                );

            </script>

            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
            <br />  <br />
        </div>
    </div>
</div>

                   